<div class="message">
  <%= I18n.t('hello_message') %>
  <ol>
    <li><%= I18n.t('hello_message_options.deposit_inquiry') %></li>
    <li><%= I18n.t('hello_message_options.request_paper_rolls') %></li>
    <li><%= I18n.t('hello_message_options.economic_indicators_inquiry') %></li>
  </ol>
</div>
 <hr>
<% @messages.each do |message|%>
  <div class="message"><%= message.text %></div>
  <hr>
<% end %>
